<div class="banner">
  <div class="banner-overlay">
    <div class="banner-text">
      <h1>Cocktails</h1>
      <h3>your cocktail resource</h3>
    </div>
    <i class="fas fa-angle-double-down"></i>
  </div>
</div>

<div class="container no-margin">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 no-padding">
        <%= link_to cocktail_path(cocktail) do %>
          <div class="cocktail-card">
            <div class="cocktail-card-overlay">
              <p class="cocktail-title">
                <%= cocktail.name %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="col-xs-12 col-sm-4 col-md-3 no-padding">
      <%= link_to new_cocktail_path do %>
        <div class="cocktail-card add-cocktail">
            <i class="fas fa-plus-square add-cocktail-icon"></i>
        </div>
      <% end %>
    </div>
  </div>
</div>
