// Specific CSS for your home-page

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: blue;
  padding: 0px;
}

a {
  text-decoration: none !important;
}

p {
  margin-bottom: 0px;
}

body {
  background-color: #eee;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.container {
  width: 100%;
}

// banner

.banner {
  background-image: url("https://picsum.photos/g/1200/800/?gravity=center");
  background-size: cover;
  height: 100vh;
  .banner-overlay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    .banner-text {
      text-align: center;
      h3 {
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 22px;
        color: #999;
      }
    }
    i {
      position: absolute;
      bottom: 60px;
      padding: 12px 16px;
      opacity: 0.5;
      border: 2px solid #bbb;
      border-radius: 50%;
      color: #bbb;
    }
  }
}

// cocktail card

.cocktail-card {
  background-image: url("https://picsum.photos/150/200/?random?gravity=east");
  background-size: cover;
  transition: all 200ms;
  flex: 1 0 auto;
  height: 260px;
  .cocktail-card-overlay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,1);
    transition: all 300ms;
    .cocktail-title {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 22px;
      color: blue;
      padding: 8px 0px;
      transition: all 300ms;
      border-bottom: 4px solid blue;
    }
  }
}

.cocktail-card:hover {
  .cocktail-card-overlay{
  background-color: rgba(255,255,255,0);
    .cocktail-title {
      padding: 8px 20px;
      background-color: blue;
      color: #fff;
    }
  }
}

// add cocktail card

.add-cocktail-card {
  transition: all 200ms;
  flex: 1 0 auto;
  height: 260px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
  .add-cocktail-icon {
    color: blue;
    font-size: 80px;
    transition: color 300ms;
    transition: font-size 300ms;
    margin-top: 72px;
    margin-bottom: 73px;
    padding: 0px;
  }
}

.add-cocktail:hover {
  background-color: blue;
  .add-cocktail-icon {
    color: #fff;
    font-size: 100px;
  }
}
